@model Product

<div class="modal fade" id="addProductModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form asp-action="Create" method="post" role="form">
                <div>
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div>
                    <label asp-for="Brand" class="form-label"></label>
                    <input asp-for="Brand" class="form-control" />
                </div>
                <div>
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control" />
                </div>
                <div>
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" />
                </div>
                <div>
                    <label asp-for="Quantity" class="form-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                </div>
                <div>
                    <label asp-for="ImageThumbnail" class="form-label"></label>
                    <input asp-for="ImageThumbnail" class="form-control" />
                </div>
                <div>
                    <label asp-for="CategoryId" class="form-label">Category</label>
                    <select asp-for="CategoryId" class="form-select" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
                        <option value="">-- Select Category --</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div>
                    <div>
                        <input type="submit" class="btn btn-secondary" value="Submit new product" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

